* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    margin: 0;
    height: 100vh;
    display: flex;
    flex-direction: column; /* Ensure flex direction is column */
    justify-content: center; /* Center vertically */
    align-items: center;
    font-family: Arial, sans-serif;
    color: white;
    animation: gradientAnimation 10s ease infinite;
    background: linear-gradient(45deg, #41ff00, #00ff92, #00fff3, #009eff, #0049ff);
    background-size: 400% 400%;
}

@keyframes gradientAnimation {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}

.container {
    display: flex;
    flex-direction: column; /* Ensure container's direction is column */
    justify-content: space-between; /* Space between items */
    height: 100%; /* Full height of the body */
    text-align: center;
}

.button-container {
    display: flex;
    flex-wrap: wrap; /* Allow buttons to wrap to the next line */
    justify-content: center; /* Center buttons within the container */
    gap: 10px; /* Spacing between buttons */
}

.button {
    background-color: #3498db;
    color: white;
    padding: 10px 20px;
    text-decoration: none;
    border-radius: 5px;
    transition: background-color 0.3s;
    flex: 0 0 calc(50% - 10px); /* Each button takes half the width minus the gap */
    max-width: calc(50% - 10px); /* Ensure buttons don't exceed the desired width */
    margin-bottom: 10px; /* Space below for rows */
}

.button:hover {
    background-color: #2980b9;
}

/* Add this new class for positioning the last button */
.last-button-container {
    margin-top: auto; /* Push the last button down */
}
